    <footer class="footer d-flex flex-wrap position-sticky justify-content-between align-items-center py-3 mt-auto bg-secondary bg-gradient shadow">
        <span class="p2 carbon ps-3">© Bada Eventos | Todos los derechos reservados</span>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a class="carbon pe-5" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            <img src="assets/iconos/Facebook_icon.svg" alt="" width="30" height="30">
        </a>
        </ul>
    </footer>
 