<section id="nosotros" class="nosotros-bgimg my-5 text-center  position-relative">

  <!-- inicio contenedor Nosotros -->
  <div class="container-relative">

    <!-- inicio contenido -->
    <div class="container-relative zindex-1 col-lg-12">
      <!-- col izq -->
      <div class="row py-5">
        <div class="col-lg-6 col-sm-12 px-5">
          <div class="row">
            <div class="col"></div>
            <div class="col-lg-8 align-self-end">
              <div class="py-4 text-left">
                <h2 class="white" style="border-bottom: solid white 2px">
                  Acerca de nosotros
                </h2>
                <p class="p2 white pt-5 grey3">
                  Somos una empresa de la V región dedicada al servicio de
                  banquetería, abarcando distintos tipos de eventos como
                  matrimonios, licenciaturas, bautizos, fiestas de cumpleaños y
                  aniversarios de bodas.
                </p>
                <p class="p2 white pt-5 grey3">
                  Nuestro foco principal está en dar un servicio de calidad, donde
                  el cliente pueda crear un evento a su medida y así vivir una
                  experiencia única y a la altura de sus expectativas.
                </p>
              </div>
            </div>
          </div>
        </div> <!-- fin col izq -->
      </div>
    </div> <!-- fin contenido -->

  </div> <!-- fin contenedor Nosotros -->
  <div class="blackBgSemi about-bg"></div>


</section>