<div id="nosotros" class="row nosotros-bgimg my-5 text-center">
    <div class="col-50 blackBgSemi">
        <div class="col-60 mx-auto mt-5 pt-2 text-left">
            <h2 class="white" style="border-bottom: solid white 2px;">Acerca de nosotros</h2>
            <p class="p3 white pt-5 grey3 over-ellipsis">Somos una empresa de la V región dedicada al servicio de banquetería, abarcando distintos tipos de eventos como matrimonios, licenciaturas, bautizos, fiestas de cumpleaños y aniversarios de bodas.<br><br>Nuestro foco principal está en dar un servicio de calidad, donde el cliente pueda crear un evento a su medida y así vivir una experiencia única y a la altura de sus expectativas.</p>
        </div>
    </div>
</div>