<app-navbar></app-navbar>
<div>
    Tipo
</div>
<div class="container my-5 pt-5" *ngIf="resultList">
    <div class="justify-content-lg-center d-flex flex-row">
    <div *ngFor="let result of resultList">
        <div class="card m-2 text-white stretched-link pointer" style="max-width: 200px;" routerLink="/evento" routerLinkActive="active" >
            <img src="{{result.urlBase}}" class="card-img-2 card-cover" alt="..." height="500" width="auto">
            <div class="card-img-overlay card-caption">
                <h5 class="card-title">{{result.type}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-md col-60 mx-auto mb-5">
    <div class="">
    <label for="ID">¿Ya tiene un ID de evento? Realice el seguimiento aquí</label>        
    <input type="text" class="form-control" placeholder="Ingrese su ID aquí.." aria-describedby="basic-addon1">
</div>
</div>
<app-footer></app-footer>