.caption-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: fit-content;
}

.tipo-evento-card {
    min-height: 100px;
    height: 20vw;
    max-height: 400px;
    text-size-adjust: 80%;
    width: 100%
}

@media only screen and (min-width: 990px) {
    .tipo-evento-card {
        min-height: 300px;
        height: 30vw; 
        max-height: 450px
    }
}