<div>
    <div id="contact-img" class="container-fluid">
        <img src="https://firebasestorage.googleapis.com/v0/b/bada-eventos.appspot.com/o/img_contact.png?alt=media&token=55b8e23b-7909-41bd-b49d-2498a5ca944a" class="rounded float-start" alt="imagen de contacto">
    </div>
    <div id="contact-form">
        <form action="">
            <h1>Contacto</h1>
            <label for="nombre">
                <p>Nombre</p>
                <input type="text" placeholder="Ingresa tu nombre y apellido">
            </label>
            <br>
            <label for="correo">
                <p>Correo</p>
                <input type="email" placeholder="ejemplo@badaeventos.com">
            </label>
            <br>
            <label for="mensaje">
                <p>Mensaje</p>
                <textarea name="mensaje" id="mensaje" cols="40" rows="15" placeholder="Escriba su mensaje aqui..." style="resize: none;"></textarea>
            </label>
            <button>Enviar</button>
        </form>  
    </div>
</div>

