<div id="contacto" class="container-fluid col-80 mb-5">
    <div class="row">
        <div class="image-contact col-50 mr-3 dropshadow">
        </div>
        <div class="col-50 my-4 px-3">
            <h1 class="display-6 mb-4 regular">Contacto</h1>
            <form id="contact-form">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control rounded-pill" id="nombre" aria-describedby="emailHelp" placeholder="Ingresa tu nombre y apellido">
                </div>
                <div class="mb-3">
                  <label for="correo" class="form-label">Correo</label>
                  <input type="email" class="form-control rounded-pill" id="correo" placeholder="ejemplo@badaevento.com">
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control rounded" id="mensaje" rows="3" placeholder="Escriba su mensaje aqui..."></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Enviar</button>   
            </form>
        </div>
    </div>
</div>

