<div id="contacto" class="container-fluid col-80 mb-5">
    <div class="row">
        <div class="image-contact col-50 mr-3 dropshadow">
        </div>
          <div class="col-50 my-4 px-3">
            <h1 class="display-6 mb-4 regular">Contacto</h1>
            
            <form id="contactform" #contact="ngForm" (ngSubmit)="getContactInputs(contact.value)">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input ngModel name="name" type="text" class="form-control rounded-pill" id="name" aria-describedby="emailHelp" placeholder="Ingresa tu nombre y apellido">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo</label>
                  <input ngModel name="email" type="email" class="form-control rounded-pill" id="email" placeholder="ejemplo@badaevento.com">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea ngModel name="message" class="form-control rounded" id="message" rows="3" placeholder="Escriba su mensaje aqui..."></textarea>
                  </div>
                <button type="submit" (click)="contact.reset();alertaEnvio()" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

