<section class="slider">
  <div class="container py-5">
    <div class="row col-md-12">
      <div id="carouselBada" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active w-80">
            <img src="..\assets\img\wedding-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Matrimonio Elisa y Eliso</h3>
              <h5>Salón Marlon Premium (100 personas)</h5>
              <p>Fiesta de matrimonio celebrada en Quilpué. El servicio incluyó banquetería, música en vivo y barra
                libre.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..\assets\img\boda2.avif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Matrimonio Elsa y Elso</h3>
              <h5>Salón Marlon Premium (100 personas)</h5>
              <p>Fiesta de matrimonio celebrada en Quilpué. El servicio incluyó banquetería, música en vivo y barra
                libre.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..\assets\img\wedding-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Matrimonio Elena y Elunio</h3>
              <h5>Salón Marlon Premium (100 personas)</h5>
              <p>Fiesta de matrimonio celebrada en Quilpué. El servicio incluyó banquetería, música en vivo y barra
                libre.
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>