<div id="contacto" class="container-fluid col-lg-12 mb-5">
    <div class="row">
        <div class="image-contact col-lg-6 mr-3 shadow-lg">
        </div>
          <div class="col-md-6 my-4 px-5">
            <h2 class="mb-4 regular">Contacto</h2>
            
            <form id="contactForm" #contact="ngForm" (ngSubmit)="getContactInputs(contact.value);contact.reset()">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input ngModel required="" name="name" type="text" class="form-control rounded-pill" id="name" aria-describedby="emailHelp" placeholder="Ingresa tu nombre y apellido">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo</label>
                  <input ngModel required name="email" type="email" class="form-control rounded-pill" id="email" placeholder="ejemplo@badaevento.com">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>                    
                    <textarea ngModel required name="message" class="form-control rounded" id="message" rows="3" placeholder="Escriba su mensaje aqui..."></textarea>
                  </div>
                <button [disabled]="contact.invalid" type="submit" (click)="alertaEnvio()" class="nav-link rounded-pill p2 shadow btn btn-primary text-light mt-3">Enviar</button>
            </form>
        </div>
    </div>
</div>

