<div class="container-lg d-flex flex-column align-items-center mt-auto">
  <div class="col-sm-5 align-items-center text-center">
    <div class="title py-3">
      <h3 class="title py-1">Iniciar Sesión</h3>
      <h5 class="title py-1">BADA EVENTOS</h5>
    </div>
    <div id="loginAlert" class="alert alert-danger" role="alert" style="display: none;">
      Credenciales no validas!
    </div>
    <div>
      <form id="loginForm" #login="ngForm" (ngSubmit)="postUser();login.reset()">
        <div class="py-2">
          <input ngModel required type="text" name="user" class="form-control m-3" placeholder=" Ingrese su usuario..." #user (keyup)="getUser(user.value)">
        </div>
        <div class="py-2">
          <input ngModel required name="password" type="password" class="form-control m-3" placeholder=" Ingrese su contraseña..." #password (keyup)="getPass(password.value)">
        </div>
        <div>
          <button [disabled]="login.invalid" type="submit" class="btn btn-primary m-3 medium shadow">Buscar</button>
        </div>
      </form>
    </div>
  </div>
</div>