<div class="card bg-dark shadow text-white mb-3">
  <img src="{{getEvent.urlBase}}" class="card-img" alt="fotografía representativa de un evento"
    style="height: 230px; object-fit: cover">
  <div class="card-img-overlay card-caption ">
    <div class="caption-bg card-img-overlay">
      <h2 class="card-title">{{getEvent.type}}</h2>
      <h3 class="card-text">{{getEvent.description}}</h3>
    </div>
  </div>
</div>

<div class='row'>
  <!-- Acordeon -->
  <div class="accordion col-md-7 mb-3" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button accordion-button-lh-norm" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <p>Evento</p>
        </button>
      </h2>

      <!-- Pestaña Evento -->
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div>
            <div class="sub-item">
              <p class="p-2 p2">Cantidad de invitados:</p>
              <input class="form-control rounded-pill" #box (keyup)="calcularTotal(box.value)" type="number" min="20"
                placeholder="Ingrese cantidad aquí...">
            </div>
            <div class="sub-item">
              <p class="p-2 p2">Fecha del evento:</p>
              <div class="p-1  d-flex flex-wrap justify-content-between">
                <input type="date" class="p-2 rounded-pill" #date>
                <button class="btn btn-primary p-1" (click)="getDate(date.value)">Seleccionar Fecha</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Banquetería -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button accordion-button-lh-norm collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Banquetería
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngFor="let catering of cateringResult">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="catering" (ngModel)="catering.value" name="catering"
              value="i" [checked]="false" (change)="onItemChange(catering.value, 'catering', catering)">
            <label class="form-check-label" for="flexRadioDefault1">
              <div class="card">
                <div class="row g-0">
                  <div class="col-sm-5">
                    <img src="{{catering.urlBase}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title p2">{{catering.items}}</h5>
                      <p class="card-text"><small>{{catering.description}}</small></p>
                      <p class="card-text"><small>{{catering.description2}}</small></p>
                      <p class="card-text"><small>- Valor: ${{catering.value}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Recinto -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button accordion-button-lh-norm collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Recinto
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngFor="let site of siteResult">
          <div class="form-check">
            <input class="form-check-input" type="radio" type="radio" value="site" (ngModel)="site.value" name="site"
              value="i" [checked]="false" (change)="onItemChange(site.value, 'site', site)">
            <label class="form-check-label" for="flexRadioDefault1">
              <div class="card">
                <div class="row g-0">
                  <div class="col-sm-5">
                    <img src="{{site.urlBase}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title p2">{{site.items}}</h5>
                      <p class="card-text"><small>{{site.address}}</small></p>
                      <p class="card-text"><small>{{site.capacity}}</small></p>
                      <p class="card-text"><small>- Valor: ${{site.value}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Música -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button accordion-button-lh-norm collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Música
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngFor="let music of musicResult">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="music" (ngModel)="music.value" name="site" value="i"
              [checked]="false" (change)="onItemChange(music.value, 'music', music)">
            <label class="form-check-label" for="radioMusic">
              <div class="card">
                <div class="row g-0">
                  <div class="col-sm-5">
                    <img src="{{music.urlBase}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title p2">{{music.items}}</h5>
                      <p class="card-text"><small>{{music.description}}</small></p>
                      <p class="card-text"><small>{{music.description2}}</small></p>
                      <p class="card-text"><small>- Valor: ${{music.value}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Entretenimiento -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button accordion-button-lh-norm collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Entretenimiento
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngFor="let entertainment of entertainmentResult">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="entertainment" (ngModel)="entertainment.value"
              name="entertainment" value="i" [checked]="false"
              (change)="onItemChange(entertainment.value, 'entertainment', entertainment)">
            <label class="form-check-label" for="flexRadioDefault1">
              <div class="card">
                <div class="row g-0">
                  <div class="col-sm-5">
                    <img src="{{entertainment.urlBase}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title p2">{{entertainment.items}}</h5>
                      <p class="card-text"><small>{{entertainment.description}}</small></p>
                      <p class="card-text"><small>{{entertainment.description2}}</small></p>
                      <p class="card-text"><small>- Valor: ${{entertainment.value}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Bebestibles -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button accordion-button-lh-norm collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Bebestibles
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExample">
        <div class="accordion-body" *ngFor="let drinks of drinksResult">
          <div class="form-check">
            <input class="form-check-input" type="radio" value="drinks" (ngModel)="drinks.value" name="drinks" value="i"
              [checked]="false" (change)="onItemChange(drinks.value, 'drinks', drinks)">
            <label class="form-check-label" for="flexRadioDefault1">
              <div class="card">
                <div class="row g-0">
                  <div class="col-sm-5">
                    <img src="{{drinks.urlBase}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title p2">{{drinks.items}}</h5>
                      <p class="card-text"><small>{{drinks.description}}</small></p>
                      <p class="card-text"><small>{{drinks.description2}}</small></p>
                      <p class="card-text"><small>- Valor: ${{drinks.value}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- INICIO FRAME EVENTO -->
  <div id="frameEvento" class="col-md bg-frame shadow p-3">
    <h3 class="frame-title text-center">
      Personaliza tu evento
    </h3>
    <div>
      <table class="table table-borderless">
        <tbody>
          <tr class="table-row">
            <!-- revisar fechas API -->
            <td>
              <p class="medium">Fecha:</p>
            </td>
            <td>
              <p class="description">{{selectDate}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <!-- revisar cantidad API -->
            <td>
              <p class="medium">Cantidad de personas:</p>
            </td>
            <td>
              <p class="description">{{displayValue}} personas</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Banqueteria:</p>
            </td>
            <td>
              <p class="description">{{getEvent.event_catering.items}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Música:</p>
            </td>
            <td>
              <p class="description">{{getEvent.music.items}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Entretenimiento:</p>
            </td>
            <td>
              <p class="description">{{getEvent.event_entertainment.items}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Recinto:</p>
            </td>
            <td>
              <p class="description">{{getEvent.site.items}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Bebestibles:</p>
            </td>
            <td>
              <p class="description">{{getEvent.event_drinks.items}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="">
        <p class="p3">Valor total: {{Currency}}</p>
      </div>
      <div class="">
        <button (click)="alertaReserva(); 
        getItemName(
          event.music.items,
          event.event_catering.items,
          event.event_entertainment.items,
          event.event_drinks.items,
          event.site.items
        ) 
        " type="submit" class="btn btn-primary rounded-pill px-4 shadow">Reservar</button>
      </div>
    </div>
  </div>
</div>