.accordion-button {
    background-color: rgb(255, 247, 247);
}

.accordion-button:not(.collapsed) {
    background-color: lavenderblush;
    p {
        font-weight: 700;
        color:rgb(31, 31, 31)
    }
}


.sub-item {
    padding: 10px 0 10px 0;
    p {
        padding: 5px 0 5px 0;
    }
}

table.table-borderless {
    .table-row {
        border-bottom: 1px solid;
        border-color: gainsboro;

        td {
            p {
                margin-top: 25px;
            }

            p.description {
                text-align: end;
            }
        }
    }
}