<div class="accordion pt-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <p>Evento</p>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>
          <div class="sub-item">
            <p>Tipo de cumpleaños:</p>
              <select class="form-select" aria-label="Default select example" >
                <option *ngFor="let age of ageResult" value="{{age.id}}">{{age.ages}}</option>
              </select>
          </div>
          <div class="sub-item">
            <p>Cantidad invitados:</p>
            <input class="form-control" type="number" placeholder="20">
          </div>
          <div class="sub-item">
            <p>Fecha del evento:</p>
            <ejs-calendar></ejs-calendar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
      aria-expanded="false" aria-controls="collapseTwo">
      Banquetería
    </button>
  </h2>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" *ngFor="let catering of cateringResult">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{catering.urlBase}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{catering.items}}</h5>
                  <p class="card-text"><small>{{catering.description}}</small></p>
                  <p class="card-text"><small>{{catering.description2}}</small></p>
                  <p class="card-text"><small>- Valor: ${{catering.value}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
      aria-expanded="false" aria-controls="collapseThree">
      Recinto
    </button>
  </h2>
  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" *ngFor="let site of siteResult">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{site.urlBase}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{site.items}}</h5>
                  <p class="card-text"><small>{{site.address}}</small></p>
                  <p class="card-text"><small>{{site.capacity}}</small></p>
                  <p class="card-text"><small>- Valor: ${{site.value}}</small></p>  
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFour">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
      aria-expanded="false" aria-controls="collapseFour">
      Música
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" *ngFor="let music of musicResult">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{music.urlBase}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{music.items}}</h5>
                  <p class="card-text"><small>{{music.description}}</small></p>
                  <p class="card-text"><small>{{music.description2}}</small></p>
                  <p class="card-text"><small>- Valor: ${{music.value}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFive">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
      aria-expanded="false" aria-controls="collapseFive">
      Juegos
    </button>
  </h2>
  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" *ngFor="let entertainment of entertainmentResult">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{entertainment.urlBase}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{entertainment.items}}</h5>
                  <p class="card-text"><small>{{entertainment.description}}</small></p>
                  <p class="card-text"><small>{{entertainment.description2}}</small></p>
                  <p class="card-text"><small>- Valor: ${{entertainment.value}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
      aria-expanded="false" aria-controls="collapseSix">
      Bebestibles
    </button>
  </h2>
  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
    data-bs-parent="#accordionExample">
    <div class="accordion-body" *ngFor="let drinks of drinksResult">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{drinks.urlBase}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{drinks.items}}</h5>
                  <p class="card-text"><small>{{drinks.description}}</small></p>
                  <p class="card-text"><small>{{drinks.description2}}</small></p>
                  <p class="card-text"><small>- Valor: ${{drinks.value}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
</div>