<div>
    <div class="card bg-dark text-white">
        <img src="/assets/img/bparty.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Cumpleaños</h5>
          <p class="card-text">Pack básico para una tradicional celebración de cumpleaños. Incluye todo lo necesario para una fiesta inolvidable.</p>
        </div>
    </div>

    <div>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Fecha:</td>
                <td>31 de febrero de 2022</td>
              </tr>
              <tr>
                <td>Tipo de cumpleaños:</td>
                <td>Niño</td>
              </tr>
              <tr>
                <td>Cantidad de personas:</td>
                <td>20 personas</td>
              </tr>
              <tr>
                <td>Banqueteria:</td>
                <td>Snacks + sorpresas</td>
              </tr>
              <tr>
                <td>Torta:</td>
                <td>Panqueques Naranja 20pp</td>
              </tr>
              <tr>
                <td>Animacion:</td>
                <td>Si</td>
              </tr>
              <tr>
                <td>Iluminacion:</td>
                <td>No</td>
              </tr>
              <tr>
                <td>Fotografo:</td>
                <td>Si</td>
              </tr>
              <tr>
                <td>Recinto:</td>
                <td>Salon Petro</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div>
        <h4>Total evento: $458.080 pesos</h4>
        <button routerLink="/reserva" routerLinkActive="active" type="submit" class="btn btn-primary">Reservar</button>
    </div>
</div>