<div>
    <div class="card bg-dark text-white">
        <img src="{{prevent.urlBase}}" class="card-img" alt="...">
        <div class="card-img-overlay card-caption">
          <h5 class="card-title">{{prevent.type}}</h5>
          <p class="card-text">{{prevent.description}}</p>
        </div>
    </div>

    <div>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Resultado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- revisar fechas API -->
                <td>Fecha:</td>
                <td>31 de febrero de 2022</td>
              </tr>
              <tr>
                <td>Tipo de público:</td>
                <td>{{prevent.group.ages}}</td>
              </tr>
              <tr>
                <!-- revisar cantidad API -->
                <td>Cantidad de personas:</td>
                <td>20 personas</td>
              </tr>
              <tr>
                <td>Banqueteria:</td>
                <td>{{prevent.catering.items}}</td>
              </tr>
              <tr>
                <td>Música:</td>
                <td>{{prevent.music.items}}</td>
              </tr>
              <tr>
                <td>Entretenimiento:</td>
                <td>{{prevent.entertainment.items}}</td>
              </tr>
              <tr>
                <td>Recinto:</td>
                <td>{{prevent.site.items}}</td>
              </tr>
              <tr>
                <td>Bebestibles:</td>
                <td>{{prevent.drinks.items}}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div>
        <h4>Total evento: ${{prevent.value}}</h4>
        <button (click)="alertaReserva()" type="submit" class="btn btn-primary">Reservar</button>
    </div>
</div>