<div class="container-lg">
  <h2>Finalizar Reserva</h2>
  <h3>Detalles de Facturación</h3>
  <div class="row">
    <div class="col-lg-7">
      <div class="pt-4">

        <!-- NOMBRES -->
        <label class="form-label">Ingrese su/sus nombres:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #nombres (keyup)="getNombre(nombres.value)"
            aria-describedby="basic-addon3">
        </div>

        <!-- APELLIDOS -->
        <label class="form-label">Ingrese su apellidos:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #apellidos (keyup)="getApellidos(apellidos.value)"
            aria-describedby="basic-addon3">
        </div>

        <!-- CORREO ELECTRÓNICO -->
        <label class="form-label">Ingrese su correo Electrónico:</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">@</span>
          <input type="text" class="form-control" #email (keyup)="getEmail(email.value)"
            aria-describedby="basic-addon3">
        </div>

        <!-- RUN o PASAPORTE -->
        <label class="form-label">Ingrese su RUN o pasaporte:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #rut (keyup)="getRut(rut.value)" aria-describedby="basic-addon3">
        </div>

        <!-- NÚMERO DE TELÉFONO -->
        <label class="form-label">Ingrese su número de contacto:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #telefono (keyup)="getTelefono(telefono.value)"
            aria-describedby="basic-addon3">
        </div>

        <!-- COMUNA -->
        <label class="form-label">Ingrese su comuna:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #comuna (keyup)="getComuna(comuna.value)"
            aria-describedby="basic-addon3">
        </div>

        <!-- DIRECCIÓN -->
        <label class="form-label">Ingrese su dirección:</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" #direccion (keyup)="getDireccion(direccion.value)"
            aria-describedby="basic-addon3">
        </div>
      </div>
    </div>


    <div class="col-lg-5 mt-5">
      <table class="table table-borderless">
        <h3>ID Evento: {{eventoPago.search_id}}</h3>
        <tbody>
          <tr class="table-row">
            <td>
              <p class="medium">Fecha:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.booking_date}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Cantidad de personas:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.people}} personas</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Banqueteria:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.catering}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Música:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.music}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Entretenimiento:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.entertainment}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Recinto:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.site}}</p>
            </td>
          </tr>
          <tr class="table-row">
            <td>
              <p class="medium">Bebestibles:</p>
            </td>
            <td>
              <p class="description">{{eventoPago.drinks}}</p>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h3>Valor total: {{Currency}}</h3>
        <button class="btn btn-primary rounded-pill px-4 shadow" (click)="sendForm()">Pagar Evento</button>
      </div>
    </div>
  </div>
</div>