<div class="container-lg rounded">
  <div class='container'>
    <!-- INICIO DE FOR CREACIÓN DE TARJETAS -->
    <div class="row row-cols-lg-5 row-cols-md-2 justify-content-left">
      
        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->

        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white shadow p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->


        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white shadow p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->


        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white shadow p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->


        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white shadow p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->

                <!-- INICIO TARJETA -->
                <div class="card shadow pointer my-2 zoom-on-hover">
                  <div>
                    <div class="bg-white shadow p-3">
                      <h4 class="frame-title">Nombre del Evento</h4>
                      <h6>ID Evento: IDASDFASDFASDF</h6>
                      <table class="mt-2 table table-borderless h-auto">
                        <tbody>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Fecha:</p>
                            </td>
                            <td>
                              <p class="description">22 de noviembre de 2025
                                <!-- {{eventoPago.booking_date}} -->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Cantidad de personas:</p>
                            </td>
                            <td>
                              <p class="description">1000
                                <!-- {{eventoPago.people}} personas -->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Banqueteria:</p>
                            </td>
                            <td>
                              <p class="description">Menú completo
                                <!-- {{eventoPago.catering}}-->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Música:</p>
                            </td>
                            <td>
                              <p class="description">Música envasada
                                <!-- {{eventoPago.music}} -->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Entret.:</p>
                            </td>
                            <td>
                              <p class="description">Mariachis
                                <!-- {{eventoPago.entertainment}}-->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Recinto:</p>
                            </td>
                            <td>
                              <p class="description">Salón Marlon Pro
                                <!-- {{eventoPago.site}}-->
                              </p>
                            </td>
                          </tr>
                          <tr class="table-row">
                            <td>
                              <p class="medium">Bebestibles:</p>
                            </td>
                            <td>
                              <p class="description">Barra abierta
                                <!-- {{eventoPago.drinks}}-->
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5>Valor total: 999.999</h5>
                      <small> Total Dolares: 666 USD</small>
                    </div> 
                  </div>
                </div> <!-- FIN TARJETA  -->

                        <!-- INICIO TARJETA -->
        <div class="card shadow pointer my-2 zoom-on-hover">
          <div>
            <div class="bg-white shadow p-3">
              <h4 class="frame-title">Nombre del Evento</h4>
              <h6>ID Evento: IDASDFASDFASDF</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">22 de noviembre de 2025
                        <!-- {{eventoPago.booking_date}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">1000
                        <!-- {{eventoPago.people}} personas -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">Menú completo
                        <!-- {{eventoPago.catering}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">Música envasada
                        <!-- {{eventoPago.music}} -->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">Mariachis
                        <!-- {{eventoPago.entertainment}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">Salón Marlon Pro
                        <!-- {{eventoPago.site}}-->
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">Barra abierta
                        <!-- {{eventoPago.drinks}}-->
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>Valor total: 999.999</h5>
              <small> Total Dolares: 666 USD</small>
            </div> 
          </div>
        </div> <!-- FIN TARJETA  -->


    </div>
  </div>