<nav id="navbar" class="navbar navbar-expand-lg navbar-light 
 bg-gradient">

    <div class="container-lg d-flex flex-wrap justify-content-between">
      <div>
      <button class="reporte btn btn-warning m-3 shadow medium" id="reporte-btn" (click)="listEvents()">Lista de eventos</button>
      <button class="reporte btn btn-secondary m-3 shadow medium" id="informe-btn">Generar Informe Excel</button>
      </div>
      <div>
        <form id="searchForm" #search="ngForm" class="form-row" (ngSubmit)="showEvent(id.value);search.reset()">
          <div class="row align-items-center">
          <div class="col-auto">
            <input ngModel required name="id" type="text" class="form-control m-3" placeholder=" Ingrese un ID..." #id (keyup)="id.value"> 
          </div>
          <div class="col-auto">
            <button [disabled]="search.invalid" type="submit" class="btn btn-primary m-3 medium shadow">Buscar</button>
          </div>
        </div>
        </form>

      </div>
    </div>
</nav>

<div class="container-lg rounded">
  <div class='container'>
    <!-- INICIO DE FOR CREACIÓN DE TARJETAS -->
    <div class="row justify-content-left" *ngFor="let event of eventList">
      
        <!-- INICIO TARJETA -->
        <div class="card shadow my-2">
          <div>
            <div class="bg-white p-3">
              <h4 class="frame-title">{{event.event_type}}</h4>
              <h6 >ID Evento: {{event.search_id}}</h6>
              <table class="mt-2 table table-borderless h-auto">
                <tbody>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Fecha:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.booking_date}}
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Cantidad de personas:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.people}} personas
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Banqueteria:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.catering}}
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Música:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.music}}
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Entret.:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.entertainment}}
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Recinto:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.site}}
                      </p>
                    </td>
                  </tr>
                  <tr class="table-row">
                    <td>
                      <p class="medium">Bebestibles:</p>
                    </td>
                    <td>
                      <p class="description">
                        {{event.drinks}}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5>${{event.value}}</h5>
            </div>
          </div>
        </div> <!-- FIN TARJETA  -->
    </div>

    <!-- INICIO DE FOR CREACIÓN DE TARJETAS -->
    <div class="row justify-content-left" *ngFor="let event of event">
      
      <!-- INICIO TARJETA -->
      <div class="card shadow my-2">
        <div>
          <div class="bg-white p-3">
            <h4 class="frame-title">{{event.event_type}}</h4>
            <h6>ID Evento: {{event.search_id}}</h6>
            <table class="mt-2 table table-borderless h-auto">
              <tbody>
                <tr class="table-row">
                  <td>
                    <p class="medium">Fecha:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.booking_date}}
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Cantidad de personas:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.people}} personas
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Banqueteria:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.catering}}
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Música:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.music}}
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Entret.:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.entertainment}}
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Recinto:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.site}}
                    </p>
                  </td>
                </tr>
                <tr class="table-row">
                  <td>
                    <p class="medium">Bebestibles:</p>
                  </td>
                  <td>
                    <p class="description">
                      {{event.drinks}}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5>${{event.value}}</h5>
          </div>
        </div>
      </div> <!-- FIN TARJETA  -->
    </div>
  </div>