/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

/* MEDIA QUERIES */


@media (max-width: 720px) {
  html {
    font-size: 80% !important;
  }
}


$breakpoint: 640px;

@media (max-width: $breakpoint) {
  /*------------------------------------------------------*/
  /*-------------- TAMAÑOS DE LA TIPOGRAFÍA --------------*/
  /*------------------------------------------------------*/
  $font: 0.8vmin;

  @for $i from 1 through 20 {
    .font-#{$i} {
      @if $i < 6 {
        font-size: $font*$i * 1.15;
        line-height: $font*$i * 1.5;
      }

      @else {
        font-size: $font*$i - $i/10;
        line-height: $font*$i * 2 / 2;
      }
    }
  }

  /*------------------------------------------------------*/
  /*---------------------- GENERALES ---------------------*/
  /*------------------------------------------------------*/
  @for $i from 1 through 3 {
    .columns-#{$i} {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
    }
  }

  @for $i from 1 through 4 {
    .grid-column-#{$i} {
      display: inline-block;
      grid-template-columns: repeat(1, 0);
    }
  }

  .flex {
    display: block;
  }

  .flex-children {
    width: 100%;
    display: block;
    float: left;
  }
}

//Se termina el media


$breakpoint: 1100px;

@media (max-width: $breakpoint) {}

//Se termina el media


/* Normalización Bootstrap */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

body{
  background-color: #FDF9F0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: 0 none;
  background: none repeat scroll 0 0 transparent;
  outline: medium none;
}

*:focus {
  outline: none;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}


q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}


@mixin clearFix() {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}

.clearfix {
  @include clearFix();
}

@for $i from 1 through 100 {
  .col-#{$i} {
    width: $i * 1%;
  }
}

/*----------------------- COLORES TEXTO----------------------*/

$primary: #B94F37;
$primary-hover: #D49E92;
$secundary: #D49E92;
$cream: #FDF9F0;
$white: #fff;
$carbon: #4F4F4F;
$grey1: #828282;
$grey2: #BDBDBD;

.inicio {
  color: $primary;
}

.primary {
  color: #B94F37;
}

.secundary {
  color: #D49E92;
}

.cream {
  color: #FDF9F0;
}

.white {
  color: #fff;
}

.black{
  color: #0000;
}

.carbon {
  color: #4F4F4F;
}

.grey1 {
  color: #828282;
}

.grey2 {
  color: #BDBDBD;
}

.grey3 {
  color: #dfdfdf;
}

/*----------------------- COLORES CONTENEDORES Y BOTONES----------------------*/

.primarybg {
  background-color: #B94F37;
}

.secundarybg {
  background-color: #D49E92;
}

.creambg {
  background-color: #FDF9F0;
}

.whitebg {
  background-color: #fff;
}

.carbonbg {
  background-color: #4F4F4F;
}

.grey1bg {
  background-color: #828282;
}

.grey2bg {
  background-color: #BDBDBD;
}

.blackBgSemi {
  background-color:rgba(0, 0, 0, 0.5);
}

.rojoFerrari{
  background-color: #af3434;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #828282;
  border-color: #828282;
}

/* Párrafos */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.open,
input,
select,
textarea,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote {
  font-family: 'Open Sans', sans-serif;
  line-height: 120%;
}

p,
.p1 {
  font-weight: 400;
  font-size: 1rem;
}

.p2 {
  font-weight: 400;
  font-size: 1.25rem;
}

.p3 {
  font-weight: 400;
  font-size: 1.5rem;
}



h1 {
  font-weight: 300;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-weight: 300;
  font-size: 2.125rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
}

h6 {
  font-weight: 400;
  font-size: 1rem;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}


.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.over-ellipsis {
  text-overflow: ellipsis;
}

/*-------------- TAMAÑOS DE LA TIPOGRAFÍA --------------*/
$font: 1px;

@for $i from 1 through 100 {
  .font-#{$i} {
    font-size: $font*$i;

    @if $i < 21 {
      line-height: 140%;
    }

    @else {
      line-height: 120%;
    }
  }
}

// BOTONES

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $primary-hover;
  border-color: $primary-hover;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  z-index: 10;
}

// EFECTOS

.pointer {
  cursor: pointer;
}

.dropshadow {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.hover-dropshadow {
  -webkit-transition: all .2s;
  transition: all .2s;

  &:hover {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  }
}

.zoom-on-hover {
  display: inline-block;
  border: 0;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);


  &:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
  }
}

.veil {
  position: absolute;
  color:rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.zindex-1 {
  z-index: 1;
  position: relative;
}



/*-------------- ANCHOS MÁXIMOS --------------*/

.width-100 {
  width: 100%;
}

.max-540 {
  max-width: 540px;
}

.max-720 {
  max-width: 720px;
}

.max-960 {
  max-width: 960px;
}

.max-1140 {
  max-width: 1140px;
}

