/* You can add global styles to this file, and also import other style files */

/* MEDIA QUERIES */

$breakpoint: 640px;
@media (max-width: $breakpoint) {
	/*------------------------------------------------------*/
	/*-------------- TAMAÑOS DE LA TIPOGRAFÍA --------------*/
	/*------------------------------------------------------*/
	$font: 0.8vmin;
	@for $i from 1 through 20 {
		.font-#{$i} {
			@if $i < 6 {
				font-size: $font*$i * 1.15;
				line-height: $font*$i * 1.5;
	 		}@else{
				font-size: $font*$i - $i/10;
				line-height: $font*$i * 2 / 2;
			}
		}
	}

	/*------------------------------------------------------*/
	/*---------------------- GENERALES ---------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 3 {
		.columns-#{$i} {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
			-webkit-column-gap: 0;
			-moz-column-gap: 0;
			column-gap: 0;
		}
	}

	@for $i from 1 through 4 {
		.grid-column-#{$i} {
			display: inline-block;
			grid-template-columns: repeat(1, 0);
		}
	}

	.flex{
		display: block;
	}

	.flex-children{
		width: 100%;
		display: block;
		float: left;
	}
}//Se termina el media


$breakpoint: 1100px;
@media (max-width: $breakpoint) {
}//Se termina el media


/* Normalización Bootstrap */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body,
figure {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: 0 none;
  background: none repeat scroll 0 0 transparent;
  outline: medium none;
}

*:focus {
  outline: none;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}


q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}


@mixin clearFix() {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}

.clearfix {
  @include clearFix();
}

@for $i from 1 through 100 {
  .col-#{$i} {
    width: $i * 1%;
  }
}

/*----------------------- COLORES TEXTO----------------------*/

$primary: #B94F37;
$primary-hover: #D49E92;
$secundary: #D49E92;
$cream: #FDF9F0;
$white: #fff;
$carbon: #4F4F4F;
$grey1: #828282;
$grey2: #BDBDBD;

.inicio {
  color: $primary;
}
.primary {
  color: #B94F37;
}

.secundary {
  color: #D49E92;
}

.cream {
  color: #FDF9F0;
}

.white {
  color: #fff;
}

.carbon {
  color: #4F4F4F;
}

.grey1 {
  color: #828282;
}

.grey2 {
  color: #BDBDBD;
}

/*----------------------- COLORES CONTENEDORES Y BOTONES----------------------*/

.primarybg {
  background-color: #B94F37;
}

.secundarybg {
  background-color: #D49E92;
}

.creambg {
  background-color: #FDF9F0;
}

.whitebg {
  background-color: #fff;
}

.carbonbg {
  background-color: #4F4F4F;
}

.grey1bg {
  background-color: #828282;
}

.grey2bg {
  background-color: #BDBDBD;
}





/* Párrafos */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.open,
input,
select,
textarea,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote {
    font-family: 'Open Sans', sans-serif;
}


p,
.p1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.p2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.p3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
}



h1 {
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
}

h3 {
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;
}

h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.thin {
    font-weight: 100;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

.italic {
    font-style: italic;
}


.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify;
}

/*-------------- TAMAÑOS DE LA TIPOGRAFÍA --------------*/
$font: 1px;
@for $i from 1 through 100 {
    .font-#{$i} {
        font-size: $font*$i;
        @if $i < 21 {
            line-height: 140%;
        }@else{
            line-height: 120%;
        } 
    }
}
// BOTONES

.btn-primary,

.btn-primary:active,
.btn-primary:visited {
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $primary-hover;
  border-color: $primary-hover;
}

// EFECTOS

.pointer {
  cursor: pointer;
}

.dropshadow {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.hover-dropshadow {
  -webkit-transition: all .2s;
  transition: all .2s; 

  &:hover {
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}
}

.zoom-on-hover {
	display: inline-block;
	border: 0;
	position: relative;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);


&:hover {
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.05);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.05);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.05);
	transition: all 200ms ease-in;
	transform: scale(1.05);
}}
